body{ 
    width: 100%;
    height: 100%;
    position: static;
    background-color: white;
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-direction: alternate;
    color: white;
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 100%;
}

@keyframes example{
    0%   {background-color:#05183c; left:0px; top:0px;}
    25%  {background-color:#06296b; left:200px; top:0px;}
    50%  {background-color:#1a3c7d; left:200px; top:200px;}
    75%  {background-color:#101217; left:0px; top:200px;}
    100% {background-color:#0c0d0d; left:0px; top:0px;}
  }

h1{
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 300%;
    text-align: center;
}

table{
    text-align: left;
    vertical-align: top;
    width: 90%;
    margin-left: 4.7%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid;
    border-color: cornsilk;
}

td{
    padding: 2%;
}

ul{
    text-align: left;
}

.imp{
    font-style: italic;
    font-weight: bold;
}

.Barra {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
 .Barra li {
    float: right;
  }
  
 .Barra li a {
    color: white;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: width 2s, height 4s;
  }

  .Barra li a:hover{
    font-size: 180%;
    text-decoration: underline;
  }

  .Imagen{
    float: left;
    width: 40px;
    height: 40px;
    padding: 0%;
    margin: 0%;
  }

  input{
    transition: width 0.4s ease-in-out;
    border: 2px solid white(255, 248, 248);
    border-radius: 4px;
  }

  #Redes {
    margin-right: 34%;
  }

  #Idioma{
    float: left;
  }

.galeria{
  width: 80%;
}

#gal{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

input, textarea{
  width: 49%;
}
div{
  margin-left: 25%;
  margin-right: 25%;
  border: 1px solid;
  text-align: left;
  padding-left: 1%;
  padding-bottom: 1%;
}

#link{
  color: white;
}

